* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(90deg, #8368fc, #4931b3);
  /* overflow: hidden; */
  font-family: Helvetica, sans-serif;
}

.btnHome {
  position: absolute;
  top: 8px;
  left: 6px;
  color: white;
  font-size: 30px;
}

.register-page h1 {
  font-family: Helvetica, sans-serif;
  font-size: 30px;
}

.register-page {
  width: 360px;
  padding: 10% 0 0;
  margin: auto;
}

.form {
  position: relative;
  top: 50%;
  transform: translateY(25%);
  z-index: 1;
  background: #ffffff;
  border-radius: 10px;
  max-width: 360px;
  padding: 20px 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 5px 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: Helvetica, sans-serif;
  outline: 0;
  background: #eeeded;
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  padding: 15px;
  border: 0;
  margin: 0 0 15px;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 15px;
}

.form .message a {
  color: #8368fc;
  text-decoration: none;
}

.form button {
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
  background: #6247da;
  outline: 0;
  color: #ffffff;
  border-radius: 10px;
  font-size: 16px;
  transition: all 0.3 ease;
  padding: 15px;
  cursor: pointer;
  width: 100%;
  border: 0;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: #7c67db;
}

.form button:active {
  transform: scale(0.95);
}

input:focus {
  border: 2px solid #000;
  border-radius: 10px;
  outline: none;
}

.valid {
  margin-top: -10px;
  padding: 10px;
  display: block;
  line-height: 15px;
  color: #d8000c;
  background-color: #ffd2d2;
  font-size: 16px;
  font-weight: 0;
}

.valid:hover {
  cursor: not-allowed;
}

#required-text {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  color: #d8000c;
}

.isDonor {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
}

.isDonor span {
  margin: 6px;
}
